* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: darkgray;
    padding: 10px;
    justify-content: space-around;
}

h1 {
    font-size: 30px;
}

main {
    padding: 80px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center; /* from left to center */
    align-items: center; /* from top to center */
}

.panel {
    display: flex;
    flex-direction: column;
}

button{
    margin: 20px;
    padding: 5px 10px;
    width: 200px;
}

#scores {
    text-align: center;
}

#scores p {
    display: inline-block;
    margin: 15px;
}

#p1WinEl, #tieEl, #p2WinEl {
    display: block;
}

footer{
    display: flex;
    color: white;
    font: 20px;
    justify-content: center;
}

#hint {
    font-size: 30px;
    margin: 30px;
}

#board{
    display: flex;
    width: 360px;
    flex-wrap: wrap;
}

.cell{
    width: 120px;
    height: 120px;
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}

span{
    font-size: 30px;
}

.cell:nth-child(3n+2){
    border-left: 3px solid black; 
    border-right: 3px solid black; 
}

.cell:nth-child(n+4):nth-child(-n+6){
    border-top: 3px solid black; 
    border-bottom: 3px solid black; 
}

label, button {
    margin-top: 1rem;
}
